img {
    border-radius: 50%;
    width: auto;
    height: auto;
    background-size: cover;
    align-content: center;
   }
   
   .centre {
       display: block;
       margin-left: auto;
       margin-right: auto;
       width: 40%;
       }