body{
    background-color: darkseagreen;
    color: white;
}
h1{
    font-size: 60px;
    margin-left: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-right: 650px;
    margin-bottom: 200px;
}
.venue{
    margin-left: 700px;
    margin-top: -400px;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-right: 200px;
}
.image{
    margin-top: 120px;
    margin-left: 30px;
    margin-right: 30px;
}
img{
    height: 300px;
    width: 90%;
}